  <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <title>SALI</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- morris CSS -->
    <link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/megna.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

    <link rel="stylesheet" th:href="@{/plugins/dropify/dist/css/dropify.min.css}">
</head>

<body class="fix-header fix-sidebar card-no-border logo-center">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" th:insert="headerfrag.html :: header"></header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" th:insert="menufrag.html :: menu"></aside>

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Gestão RH > Editar</h3>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

            <div class="container-fluid">
              <!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->
              <div class="row">
                  <div class="col-12">
                        <div class="card">
                  <div class="card-body">

                            <h4 class="card-title">Editar Perfil</h4>
                            <div th:insert="messagefrag.html :: warnings"></div>
                            <form th:action="@{'/updateUTs/update?tok=' + ${tok}}" method="POST" class="tab-wizard">
                                <div class="vtabs customvtab">
                                    <ul class="nav nav-tabs tabs-vertical" role="tablist">
                                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#infoPessoal" role="tab"><span class="hidden-sm-up"><i class="ti-home"></i></span> <span class="">Pessoal</span> </a> </li>
                                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#infoProfissional" role="tab"><span class="hidden-sm-up"><i class="ti-user"></i></span> <span class="">Profissional</span></a> </li>
                                    </ul>
                                          <div class="tab-content">
                                              <div class="tab-pane active" id="infoPessoal" role="tabpanel">
                                                  <div class="p-20">
                                                    <section>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                              <!-- campos que nao nos podemos esquecer -->
                                                              <input type="hidden" name="id" th:value="${useredit.id}">
                                                              <input type="hidden" name="estado" th:value="${useredit.estado}">
                                                                <div class="form-group">
                                                                  <label>Avatar:</label>
                                                                    <img th:src="${useredit.foto}" class="photoperfil" style="margin-left: 3%;" /></a>
                                                                    <input type="hidden" name="foto" th:value="${useredit.foto}">
                                                                    <br>
                                                                    <br>
                                                                  <label for="firstName1">Nome</label>
                                                                  <input type="text" class="form-control" name="nome" th:value="${useredit.nome}">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                          <div class="col-sm">
                                                            <div class="form-group">
                                                                <label for="firstName1">Username</label>
                                                                <input type="text" class="form-control" th:value="${useredit.login.login}" readonly>
                                                            </div>
                                                          </div>
                                                          <div class="col-sm">
                                                            <div class="form-group">
                                                                <label for="firstName1">Password</label>
                                                                <input type="text" class="form-control" th:value="${useredit.login.password}" >
                                                            </div>
                                                          </div>
                                                        </div>
                                                    </section>
                                                  </div>
                                              </div>

                                              <div class="tab-pane  p-20" id="infoProfissional" role="tabpanel">
                                                <div class="form-group">
                                                    <div class="m-b-10">
                                                      <div th:switch="${user.role.nome}">
                                                        <div th:case="'IT'">
                                                          <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Função:</label>
                                                            <select class="form-control" name="role.nome">
                                                              <option th:each="role: ${roles}" th:value="${role.nome}" th:selected="${role.nome} == ${useredit.role.nome}" th:text="${role.nome}"></option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                        <div th:case="*">
                                                          <div class="form-group">
                                                            <label for="exampleFormControlSelect1">Função:</label>
                                                            <select class="form-control" name="role.nome" readonly>
                                                              <option th:each="role: ${roles}" th:value="${role.nome}"  th:disabled="${role.nome} != ${useredit.role.nome}" th:selected="${role.nome} == ${useredit.role.nome}" th:text="${role.nome}"></option>
                                                            </select>
                                                          </div>
                                                        </div>
                                                      </div>

                                                    </div>
                                                </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Especialização:</label>
                                                                <input type="text" class="form-control" th:value="${useredit.especializacao}" name="especializacao"> </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>Cédula:</label>
                                                                <input type="text" class="form-control" th:value="${useredit.identificador}" name="identificador" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="submit" class="btn btn-rounded redondoOriginall" value="Submeter">
                                              </div>
                                          </div>
                                      </div>
                                  </form>
                              </div>
                        </div>
                  </div>
              </div>
              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->
            </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--sparkline JavaScript -->
    <script th:src="@{/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <!--morris JavaScript -->
    <script th:src="@{/plugins/raphael/raphael-min.js}"></script>
    <script th:src="@{/plugins/morrisjs/morris.min.js}"></script>

    <script  th:src="@{/plugins/dropify/dist/js/dropify.min.js}"></script>

    <script>
    $(document).ready(function() {
        // Basic
        $('.dropify').dropify();

        $(".dropify-clear").trigger("click");

        // Used events
        var drEvent = $('#input-file-events').dropify();

        drEvent.on('dropify.beforeClear', function(event, element) {
            return confirm("Do you really want to delete \"" + element.file.name + "\" ?");
        });

        drEvent.on('dropify.afterClear', function(event, element) {
            alert('File deleted');
        });

        drEvent.on('dropify.errors', function(event, element) {
            console.log('Has Errors');
        });

        var drDestroy = $('#input-file-to-destroy').dropify();
        drDestroy = drDestroy.data('dropify')
        $('#toggleDropify').on('click', function(e) {
            e.preventDefault();
            if (drDestroy.isDropified()) {
                drDestroy.destroy();
            } else {
                drDestroy.init();
            }
        })
    });
    </script>

</body>

</html>
