<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <title>SALI</title>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- morris CSS -->
    <link th:href="@{/plugins/morrisjs/morris.css}" rel="stylesheet">
    <!-- Custom CSS -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/style1.css}" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link th:href="@{/css/colors/megna.css}" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border logo-center">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" /> </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" th:insert="headerfrag.html :: header"></header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" th:insert="menufrag.html :: menu"></aside>

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-themecolor">Gestão RH > Listar</h3>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->

            <div class="container-fluid">
              <!-- ============================================================== -->
              <!-- Start Page Content -->
              <!-- ============================================================== -->
              <div class="row">
                  <div class="col-12">
                            <div class="card">
                              <div class="card-body">
                                <h4 class="card-title">Lista RH</h4>

                                <div th:insert="messagefrag.html :: warnings"></div>

                                <div class="table-responsive m-t-40">
                                    <table id="myTable" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                              <th data-sort-initial="true" data-toggle="true">Nome</th>
                                              <th data-hide="phone, tablet">Credencial</th>
                                              <th data-hide="phone, tablet">Role</th>
                                              <th data-hide="phone, tablet">Especialização</th>
                                              <th data-sort-ignore="true" class="min-width">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                          <tr th:each="user: ${users}">
                                						<td th:text="${user.nome}"></td>
                                						<td th:text="${user.identificador}"></td>
                                						<td><span class="label label-table label-success" style="background-color: #00AB99;" th:text="${user.role.nome}"></span></td>
                                						<td th:text="${user.especializacao}"></td>
                                            <td>
                                              <form th:action="@{'/updateUTs?tok='+${tok}}" method="POST">
                                				          <input type="hidden" name="idusr" th:value="${user.id}">
                                				          <button type="submit" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"><i class="ti-pencil-alt" aria-hidden="true"></i></button>
                                				       </form>
                                               <form th:action="@{'/deleteUTs?tok='+${tok}}" method="POST">
                                 				          <input type="hidden" name="id" th:value="${user.id}">
                                 				          <button type="submit" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn"><i class="ti-close" aria-hidden="true"></i></button>
                                 				       </form>
                                            </td>
                                					</tr>
                                        </tbody>
                                    </table>
                                </div>
                              </div>
                      </div>
                  </div>
              </div>
              <!-- ============================================================== -->
              <!-- End PAge Content -->
              <!-- ============================================================== -->
            </div>

            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->>
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script th:src="@{/plugins/jquery/jquery.min.js}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script th:src="@{/plugins/bootstrap/js/popper.min.js}"></script>
    <script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script th:src="@{/js/jquery.slimscroll.js}"></script>
    <!--Wave Effects -->
    <script th:src="@{/js/waves.js}"></script>
    <!--Menu sidebar -->
    <script th:src="@{/js/sidebarmenu.js}"></script>
    <!--stickey kit -->
    <script th:src="@{/plugins/sticky-kit-master/dist/sticky-kit.min.js}"></script>
    <!--Custom JavaScript -->
    <script th:src="@{/js/custom.min.js}"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--sparkline JavaScript -->
    <script th:src="@{/plugins/sparkline/jquery.sparkline.min.js}"></script>
    <!--morris JavaScript -->
    <script th:src="@{/plugins/raphael/raphael-min.js}"></script>
    <script th:src="@{/plugins/morrisjs/morris.min.js}"></script>
    <!-- This is data table -->
    <script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>

    <script>
    $(document).ready(function() {
        $('#myTable').DataTable();
        $(document).ready(function() {
            var table = $('#example').DataTable({
                "columnDefs": [{
                    "visible": false,
                    "targets": 2
                }],
                "order": [
                    [2, 'asc']
                ],
                "displayLength": 25,
                "drawCallback": function(settings) {
                    var api = this.api();
                    var rows = api.rows({
                        page: 'current'
                    }).nodes();
                    var last = null;
                    api.column(2, {
                        page: 'current'
                    }).data().each(function(group, i) {
                        if (last !== group) {
                            $(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
                            last = group;
                        }
                    });
                }
            });
            // Order by the grouping
            $('#example tbody').on('click', 'tr.group', function() {
                var currentOrder = table.order()[0];
                if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
                    table.order([2, 'desc']).draw();
                } else {
                    table.order([2, 'asc']).draw();
                }
            });
        });
    });

    </script>

</body>

</html>
