<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside th:fragment="menu">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="nav-small-cap"></li>
                <li> <a class="has-arrow waves-effect waves-dark" th:href="@{/}" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Gestão RH</span></a>
                    <ul aria-expanded="false" class="collapse">
                                <li><a th:href="@{'/listUTs?tok='+${tok}}">Listar</a></li>
                                <li><a th:href="@{'/addUT?tok='+ ${tok}}">Adicionar</a></li>
                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-ambulance"></i><span class="hide-menu">Ocorrencias</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Adicionar</a></li>
                        <li>
                            <a class="has-arrow" href="#" aria-expanded="false">Listar</a>
                            <ul aria-expanded="false" class="collapse">
                              <li><a href="#">Todas</a></li>
                              <li><a href="#">Participadas</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-needle"></i><span class="hide-menu">Outros</span></a>
                    <ul aria-expanded="false" class="collapse">
                        <li><a href="#">Fármacos</a></li>
                        <li><a href="#">Incidentes</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
